.sidebar {
  background-image: url(../../images/bg-sidebar-mobile.svg);
  background-repeat: no-repeat;
  @media (min-width: 40em) {
    background-image: url(../../images/bg-sidebar-desktop.svg);
    width: 274px;
    height: 568px;
  }
  .sidebar-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-inline: auto;
    padding: 2rem 0 6rem 0;
    @media (min-width: 40em) {
      flex-direction: column;
      gap: 1.5rem;
      padding: 2rem;
    }
    .step {
      @media (min-width: 40em) {
        display: flex;
        gap: 1rem;
        align-items: center;
        .step-desc span {
          color: var(--clr-primary-200);
          text-transform: uppercase;
          font-size: 0.9rem;
        }
        .step-desc p {
          color: var(--clr-primary-300);
          font-weight: 500;
          font-size: 1.1rem;
        }
      }
      .rounded-number {
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 1rem;
        height: 35px;
        aspect-ratio: 1;
        border-radius: 50%;
        color: var(--clr-neutral-200);
        border: 1px solid var(--clr-primary-300);

        &:hover {
          background-color: var(--clr-primary-300);
          color: var(--clr-primary-800);
        }
      }
    }
  }
}
