@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
:root {
  --clr-primary-800: hsl(213, 96%, 18%);
  --clr-primary-500: hsl(243, 71%, 34%);
  --clr-primary-400: hsl(243, 100%, 62%);
  --clr-primary-300: hsl(228, 100%, 95%);
  --clr-primary-200: hsl(206, 94%, 87%);
  --clr-accent-400: hsl(354, 84%, 57%);
  
  --clr-neutral-800: hsl(231, 11%, 30%);
  --clr-neutral-500: hsl(231, 11%, 63%);
  --clr-neutral-400: hsl(229, 24%, 87%);
  --clr-neutral-300: hsl(217, 100%, 97%);
  --clr-neutral-200: hsl(231, 100%, 99%);
  --clr-neutral-100: hsl(0, 0%, 100%);
}
body {
  background-color: var(--clr-primary-300);
}
.App {
  font-family: "Ubuntu", sans-serif;
  background-color: var(--clr-neutral-100);
  border-radius: 0.8rem;
  margin-top: 8rem;
  padding: 1rem;
  display: flex;
  @media (max-width: 40em) {
    background-color: var(--clr-primary-300);
    display: block;
    margin-top: 0;
    padding: 0;
  }
  .main-content {
    background-color: var(--clr-neutral-100);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 60%;
    @media (max-width: 40em) {
      height: calc(100vh - 172px);
      position: relative;
      background-color: transparent;
    }
    .form-area {
      padding-top: 2rem;
      @media (max-width: 40em) {
        padding: 1.5rem;
        margin-inline: 1rem;
        background-color: var(--clr-neutral-100);
        position: absolute;
        border-radius: 0.8rem;
        top: -4rem;
      }
    }
  }
}

.form-heading {
  // General styling for all form steps
  color: var(--clr-primary-800);
  font-size: 1.5rem;
  @media (min-width: 40em) {
    font-size: 2.2rem;
  }
}
.form-desc {
  // General styling for all form steps
  color: var(--clr-neutral-500);
  font-weight: 400;
  line-height: 1.5;
  margin-top: 0.5rem !important;
  @media (min-width: 40em) {
    margin-bottom: 2.2rem !important;
  }
}
.hide-on-mobile {
  display: none;
  @media (min-width: 40em) {
    display: block;
  }
}
.btn {
  display: inline-block;
  cursor: pointer;
}
.flow > * + * {
  margin-top: var(--flow-space, 1.3em);
  @media (min-width: 40em) {
    margin-top: var(--flow-space, 1.5em);
  }
}
.container {
  --max-width: 900px;
  --container-padding: 0rem;
  width: min(var(--max-width), 100% - (var(--container-padding) * 2));
  margin-inline: auto;
}
