.form-label {
  display: block;
  color: var(--clr-primary-500);
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
  font-weight: 500;
}

input[type="text"],
[type="email"],
[type="tel"] {
  display: block;
  border: 1px solid var(--clr-neutral-400);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: var(--clr-neutral-800);
  width: 100%;
  font-weight: 500;
  @media (min-width: 40em) {
    padding: 1rem 1rem;
  }
}
