.step-three {
  .addon-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    border: 1px solid var(--clr-neutral-400);
    padding: 1rem 0.5rem;
    border-radius: 0.5rem;
    @media (min-width: 40em) {
      padding: 1rem 1rem;
    }
    &:has(input[type="checkbox"]:checked) {
      border-color: var(--clr-primary-600);
    }
    input[type="checkbox"] {
      display: inline-block;
      width: 1.2rem;
      height: 1.2rem;
      flex-shrink: 0;
    }
    input[type="checkbox"]:checked {
      background-color: var(--clr-primary-400);
    }
    .addon-label {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
      flex-grow: 1;
      @media (min-width: 40em) {
        gap: 0.3rem;
      }
      span {
        display: block !important;
      }
      span:nth-child(1) {
        color: var(--clr-primary-500);
        font-weight: 500;
      }
      span:nth-child(2) {
        color: var(--clr-neutral-500);
        font-size: 0.8rem;
      }
    }
    .addon-price {
      color: var(--clr-primary-400);
      font-weight: 500;
      font-size: 0.9rem;
    }
  }
}
