.step-two {
  @media (min-width: 40em) {
    // display: flex;
  }
  .plan-container {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    @media (min-width: 40em) {
      flex-direction: row;
      gap: 1.1rem;
    }
    .plan-card {
      border: 1px solid var(--clr-neutral-400);
      position: relative;
      display: flex;
      gap: 1rem;
      padding: 0.8rem 1rem;
      border-radius: 0.5rem;
      width: 100%;
      @media (min-width: 40em) {
        flex-direction: column;
        gap: 2rem;
        padding-right: 2.5rem;
        img {
          height: 50px;
          align-self: start;
        }
      }

      input {
        width: 0;
        height: 0;
        position: absolute;
        top: 0;
        left: 0;
      }
      .radio-label {
        span {
          display: block;
        }
        span:first-child {
          color: var(--clr-primary-500);
          font-weight: 700;
          padding-bottom: 0.3rem;
        }
        span:nth-child(2) {
          font-size: 0.9rem;
          color: var(--clr-neutral-500);
        }
        span:nth-child(3) {
          color: var(--clr-primary-500);
          font-size: 0.8rem;
          font-weight: 500;
          padding-top: 0.2rem;
        }
      }
    }
  }
}
